@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  overflow-x: hidden;
  color-scheme: dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.circles {
  :nth-child(1) {
    transform: translate(-50%, -50%) rotate(0) translate(30vh) rotate(0);
  }
  :nth-child(2) {
    transform: translate(-50%, -50%) rotate(calc(72deg)) translate(30vh)
      rotate(calc(-72deg));
  }
  :nth-child(3) {
    transform: translate(-50%, -50%) rotate(144deg) translate(30vh)
      rotate(-144deg);
  }
  :nth-child(4) {
    transform: translate(-50%, -50%) rotate(216deg) translate(30vh)
      rotate(-216deg);
  }

  :nth-child(5) {
    transform: translate(-50%, -50%) rotate(288deg) translate(30vh)
      rotate(-288deg);
  }
  .chosen-circle {
    transform: none;
    z-index: 100;
  }
}
